<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Artificial Intelligence</h2>
    
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever..!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
   
    <p>My main development languages are Python and C++, but I have worked with Ruby, Javascript, HTML and more..</p>
  </div>
  <div class="tech">
    <h2>Resume</h2>
    
    <p>Check out my resume <a href="">here</a></p>
  </div>
</div>
