<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Artificial Intelligence</h2>
    
    <p>The course that I am undergoing is "Btech. in Computer Science with Artificial Engineering". This is my chosen area of specialization. I am mainly interested in deep learning and natural language processing."</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
   
    <p>My main development languages are Python and C++, but I have worked with Ruby, Javascript, HTML and more..</p>
  </div>
  <div class="tech">
    <h2>Resume</h2>
    
    <p>Check out my resume <a href="https://amritauniv-my.sharepoint.com/:b:/g/personal/harshavardhanm_am_students_amrita_edu/EcVIY2VM-rNChWI94kBzFKcBgOWWSThTVO8XJggGJ_Bl-g">here</a></p>
  </div>
</div>
