<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Artificial Intelligence</h2>
    
    <p>I will specialize in the field of AI at the end of my undergraduate course. I'm most interested in areas like deep learning and natural language processing.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    
    <p>My main development languages are Python and C++, but I have worked with Ruby, Javascript, HTML and more..</p>
  </div>
  <div class="tech">
    <h2>Resume</h2>
    
    <p>Check out my resume <a href="">here</a></p>
  </div>
</div>
